{% extends "blog/base.html" %} {% block content %}
<div class="content-section">
  <h1 class="mb-4">About This Blog</h1>
  <p>
    This blog application was created by Mahmoud Saadallah as a project to
    demonstrate skills in web development using the Django framework.
  </p>
  <p>
    The source code for this project is publicly available on GitHub. You are
    welcome to check it out, fork it, or contribute.
  </p>
  <p>
    <a
      class="btn btn-outline-info"
      href="https://github.com/mahmoudSaaadallah/Blog_Project"
      target="_blank"
      rel="noopener noreferrer"
      >View Source Code on GitHub</a
    >
  </p>

  <hr class="my-4" />

  <h2>About the Developer</h2>
  <p>
    Hi, I'm <strong>Mahmoud Saadallah</strong>, a passionate software developer.
    You can connect with me through the following channels:
  </p>
  <ul>
    <li>
      <strong>Email:</strong>
      <a href="mailto:mahmoud.saadallah73@gmail.com"
        >mahmoud.saadallah73@gmail.com</a
      >
    </li>
    <li>
      <strong>GitHub:</strong>
      <a
        href="https://github.com/mahmoudSaaadallah"
        target="_blank"
        rel="noopener noreferrer"
        >mahmoudSaaadallah</a
      >
    </li>
    <li>
      <strong>LinkedIn:</strong>
      <a
        href="https://www.linkedin.com/in/mahmoudsaadallahi/"
        target="_blank"
        rel="noopener noreferrer"
        >Mahmoud Saadallah</a
      >
    </li>
    <li>
      <strong>Facebook:</strong>
      <a
        href="https://www.facebook.com/mahmoudsaaadallah"
        target="_blank"
        rel="noopener noreferrer"
        >Mahmoud Saadallah</a
      >
    </li>
  </ul>
</div>
{% endblock content %}
