{% extends 'blog/base.html' %} {% block content %}
<div class="content-section">
  <h1>About Me</h1>
  <hr />
  <p>
    My name is Mahmoud Saadallah, a passionate software developer with a strong
    interest in web development. I am currently working on a Django project
    called "Blog Project" which is a simple blog application. You can find the
    source code for the project on my
    <a href="https://github.com/mahmoudSaaadallah/Blog_Project">GitHub page</a>.
  </p>
  <p>
    You can contact me via email at
    <a href="mailto:mahmoud.saadallah73@gmail.com"
      >mahmoud.saadallah73@gmail.com</a
    >
    or connect with me on various social media platforms:
  </p>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/mahmoudsaadallahi/">LinkedIn</a>
    </li>
    <li>
      <a href="https://www.facebook.com/mahmoudsaaadallah">Facebook</a>
    </li>
    <li>
      <a href="https://github.com/mahmoudSaaadallah">GitHub</a>
    </li>
  </ul>
</div>
{% endblock content %}
