{% extends 'blog/base.html' %} {% block content %} {% for post in posts %}
<article class="d-flex media content-section align-items-start">
  <img
    class="rounded-circle article-img mr-3"
    src="{{ post.author.profile.image.url }}"
    alt="" />

  <div class="flex-grow-1">
    <div
      class="d-flex w-100 justify-content-between align-items-center media-body mb-1">
      <a
        class="mr-2 text-decoration-none link-hover-brown link-color-dark"
        href="#"
        >{{ post.author }}</a
      >
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    <hr />
    <h2 class="mb-1">
      <a class="article-title text-decoration-none" href="#"
        >{{ post.title }}</a
      >
    </h2>

    <p class="article-content mb-0">{{ post.content }}</p>
  </div>
</article>

{% endfor%} {% endblock content %}
